// SPDX-License-Identifier: GPL-2.0+
/*
 * Samsung's Exynos4210-based SMDKV310 board device tree source
 *
 * Copyright (c) 2014 Google, Inc
 */

/dts-v1/;

#include "skeleton.dtsi"

/ {
	aliases {
		u-boot,dm-pre-reloc;
		console = "/serial@e29000000";
	};

	serial@e2900000 {
		u-boot,dm-pre-reloc;
		compatible = "samsung,exynos4210-uart";
		reg = <0xe2900000 0x100>;
		interrupts = <0 51 0>;
		id = <0>;
	};

	demo0 {
		compatible = "demo-simple";
		sides = <5>;
		colour = "red";
	};
};
