// SPDX-License-Identifier: GPL-2.0+
/*
 * Samsung's Exynos4210-based SMDKV310 board device tree source
 *
 * Copyright (c) 2014 Google, Inc
 */

/dts-v1/;

#include "skeleton.dtsi"
#include "s5pc110-pinctrl.dtsi"


/ {
	aliases {
		u-boot,dm-pre-reloc;
		console = "/serial@e29000000";
		i2c0 = &i2c_0;
	};

	serial@e2900000 {
		u-boot,dm-pre-reloc;
		compatible = "samsung,exynos4210-uart";
		reg = <0xe2900000 0x100>;
		interrupts = <0 51 0>;
		id = <0>;
	};

	pinctrl0: pinctrl@e0200000 {
                compatible = "samsung,s5pc110-pinctrl";
                reg = <0xe0200000 0x1000>;
        };

	leds {
                compatible = "gpio-leds";
                green {
			label = "green";
                        gpios = <&gpj2 0 1>;
                        linux,default-trigger = "heartbeat";
                };
                orange {
			label = "orange";
                        gpios = <&gpj2 1 1>;
                };
                red {
			label = "red";
                        gpios = <&gpj2 2 1>;
                };
                blue {
			label = "blue";
                        gpios = <&gpj2 3 1>;
                };
        };
	i2c_0: i2c@e1800000 {
                compatible = "samsung,s3c2440-i2c";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0xe1800000 0x100>;
		at24@50 {
			compatible = "atmel,24c08a";
			reg = <0x50>;
		};

        };


	demo0 {
		compatible = "demo-simple";
		sides = <5>;
		colour = "red";
	};
};
